<div class="main-nav">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="titlediv"><h1 class="title">Gaming Marketplace</h1></div>
        <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-home" id="homeglyph" aria-hidden=true><br>Home</span></a></li>    
            <li><a href="#"><span class="glyphicon glyphicon-globe" id="homeglyph" aria-hidden=true><br>Marketplace</span></a></li>     
            <li><a href="#"><span class="glyphicon glyphicon-user" id="homeglyph" aria-hidden=true><br>Account</span></a></li>     
            <li><a href="#"><span class="glyphicon glyphicon-log-out" id="homeglyph" aria-hidden=true><br>Logout</span></a></li>     
        </ul>
    </nav>
    <div id="test"></div>
     
    </div>